<div class="content cpanel-content">
  <%= render 'navigation' %>
  <div class="cpanel-display">
    <%= flash.notice %>
    <div class="cp-articles-cont">
      <% @articles.each do |article| %>
        <div class="cp-article">
          <%= link_to(image_tag(article.thumbnail_url, class: "cp-art-thumbnail"), article.url) %>
          <div class="cp-article-info">
            <p><%= link_to article.title, article.url %></p>
            <p>Username: <%= article.author.username %></p>
            <p>Approved: <%= article.approved %></p>
          </div>
          <div class="ctl-icons art-ctl">
            <% if article.approved %>
              <%= link_to(image_tag(asset_path("disapprove-icon.svg"), class: "ctl-icon cp-ctl-icon"), disapprove_article_path(article.id),
                          data: { confirm: "This article will be disapproved from the front page. Are you sure?" }, 
                          title: "Disapprove article") %>
            <% else %>
              <%= link_to(image_tag(asset_path("checkmark-icon.svg"), class: "ctl-icon cp-ctl-icon"), approve_article_path(article.id),
                          data: { confirm: "This article will be approved to the front page. Are you sure?" }, 
                          title: "Approve article") %>
            <% end %>
            <%= link_to(image_tag(asset_path("edit-icon.svg"), class: "ctl-icon cp-ctl-icon"), edit_article_path(article.id), 
                        'data-no-turbolink': true, title: "Edit") %>
            <%= link_to(image_tag(asset_path("delete-icon.svg"), class: "ctl-icon cp-ctl-icon"), article_path(article.id), 
                        method: :delete, data: { confirm: "Are you sure?" }, title: "Remove") %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
