<div class="content cpanel-content">
  <%= render 'navigation' %>
  <div class="cpanel-display">
    <div class="cp-articles-cont">
      <% @articles.each do |article| %>
        <div class="cp-article">
          <%= image_tag article.thumbnail_url, class: "cp-art-thumbnail" %>
          <%= article.title %>
          <p>Username: <%= article.author.username %></p>
          <div class="ctl-icons">
            <%= image_tag asset_path("edit-icon.svg"), class: "ctl-icon" %>
            <%= image_tag asset_path("delete-icon.svg"), class: "ctl-icon" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
