<div class="content cpanel-content">
  <nav class="cpanel-sidenav">
    <p class="cpanel-label">Control Panel</p>
    <ul>
      <li><%= link_to "Users", cpanel_users_path %></li>
      <li><%= link_to "Articles", cpanel_articles_path %></li>
      <li><%= link_to "Slideshow", cpanel_slideshow_path %></li>
      <li><%= link_to "People", cpanel_people_path %></li>
      <li><%= link_to "Other", cpanel_other_path %></li>
    </ul>
  </nav>
  <div class="cpanel-display">
  </div>
</div>
