    <% @articles.each do |article| %>
      <%= image_tag article.thumbnail.url(:front_page) %>
      <h4 class="main-page-subheader"><%= article.title %></h4>
      <p><%= truncate(article.content, length: 800) %></p>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
