<p id="notice"><%= notice %></p>

<div class="content">
  <div class="article-head">
    <h1 class="article-title">
      <%= @article.title %>
    </h1>
    
    
    <p class="article-author">
      <strong>Author:</strong>
      <%= @author %>
    </p>
  </div>
  
  <p class="article-content">
    <%= @article.content.html_safe %>
  </p>
  
  
  <p>
    <strong>Approved:</strong>
    <%= @article.approved %>
  </p>
  
  <%= link_to 'Edit', edit_article_path(@article), 'data-no-turbolink': true %> |
  <%= link_to 'Back', articles_path %>

  <h2>Comments</h2>
  <hr>
  <div class="new-comment-cont">
    <%= render 'comments/new' %>
  </div>
  <div class="all-comments-cont">
    <%= render 'comments/index' %>
  </div>
</div>
