<div class="content movie-show-content">
  <div class="movie-head-cont">
    <h1><%= @movie.title %></h1>
    <%= link_to "Edit", edit_movie_path(@movie) %>
    <div class="movie-info-cont">
      <span><%= @movie.release_date.year %></span>
      <span><%= Time.at(@movie.runtime * 60).utc.strftime("%H:%M h") %></span>
      <span><%= @movie.genres %></span>
      <span class="rating">
        <span class="rating-current"><%= @movie.avgrating %></span>/<span class="rating-max">10</span>
      </span>
      <div class="rate-movie-func">
        <button class="dropdown-toggle-btn">
          <%= image_tag "star_filled.svg", class: "star-img hidden" %> <!-- filled star (is visible when btn is clicked) -->
          <%= image_tag "star_border_only.svg", class: "star-img" %> Rate this
        </button>
      </div>
    </div>
  </div>
  <hr>
  <div class="rate-movie-dropdown hidden">
    <%= render 'ratings/form' %>
  </div>
  <div class="movie-media">
    <%= image_tag(@movie.cover_img.url(:show_page)) %>
    <%= raw(youtube_embed(@movie.yt_trailer_url, true)) %>
  </div>
  <div class="movie-description"><%= @movie.description %></div>
  <p>
    Runtime: <%= @movie.runtime %>
  <p>

  <p>
    Genres: <%= @movie.genres %>
  </p>

  <p>
    Director: <%= @movie.director %>
  </p>

  <p>
    Actors: <%= @movie.actors %>
  </p>
</div>
