<div class="content movie-show-content">
  <div class="movie-head-cont">
    <h1><%= @movie.title %></h1>
    <div class="movie-info-cont">
      <span>1942</span>
      <span>1h 42min</span>
      <span>Drama, Romance, War</span>
      <span>23 January 1943 (USA)</span>
      <span class="rating">
        <span class="rating-current">9.2</span>/<span class="rating-max">10</span>
      </span>
      <div class="rate-movie-func">
        <button class="rate-movie-btn">Rate this</button>
        <div class="rate-movie-dropdown hidden">
          <div id="star-rating">
            <input type="radio" name="example" class="rating" value="1" />
            <input type="radio" name="example" class="rating" value="2" />
            <input type="radio" name="example" class="rating" value="3" />
            <input type="radio" name="example" class="rating" value="4" />
            <input type="radio" name="example" class="rating" value="5" />
            <input type="radio" name="example" class="rating" value="6" />
            <input type="radio" name="example" class="rating" value="7" />
            <input type="radio" name="example" class="rating" value="8" />
            <input type="radio" name="example" class="rating" value="9" />
            <input type="radio" name="example" class="rating" value="10" />
          </div>
          <div class="rate-movie-description">
            <textarea id="" name="" cols="30" rows="10"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <p><%= @movie.description %></p>
  
  <%= image_tag(@movie.cover_img.url(:front_page)) %>
  <p>
    Runtime: <%= @movie.runtime %>
  <p>

  <p>
    Genres: <%= @movie.genres %>
  </p>

  <p>
    Director: <%= @movie.director %>
  </p>

  <p>
    Actors: <%= @movie.actors %>
  </p>
</div>
