<div class="content movie-show-content">
  <div class="movie-head-cont">
    <h1><%= @movie.title %></h1>
    <div class="movie-info-cont">
      <span>1942</span>
      <span>1h 42min</span>
      <span>Drama, Romance, War</span>
      <span>23 January 1943 (USA)</span>
      <span class="rating">
        <span class="rating-current">9.2</span>/<span class="rating-max">10</span>
      </span>
      <div class="rate-movie-func">
        <button class="rate-movie-btn">
          <%= image_tag "star_filled.svg", class: "star-img hidden" %> <!-- filled star (is visible when btn is clicked) -->
          <%= image_tag "star_border_only.svg", class: "star-img" %> Rate this
        </button>
      </div>
    </div>
  </div>
  <hr>
  <div class="rate-movie-dropdown hidden">
    <%= image_tag("user_default_round_avatar.svg", alt: "user avatar", class: "user-round-avatar") %>
    <p class="rating-helper-text">I have seen the movie. <br>
    I rate it as:</p>
    <p class="rating-responsive">
      <span class="rating-num"></span> <span class="rating-description">not rated</span>
    </p>
    <div id="star-rating">
      <input type="radio" name="example" id="rt1" class="rating" value="1" />
      <input type="radio" name="example" id="rt2" class="rating" value="2" />
      <input type="radio" name="example" id="rt3" class="rating" value="3" />
      <input type="radio" name="example" id="rt4" class="rating" value="4" />
      <input type="radio" name="example" id="rt5" class="rating" value="5" />
      <input type="radio" name="example" id="rt6" class="rating" value="6" />
      <input type="radio" name="example" id="rt7" class="rating" value="7" />
      <input type="radio" name="example" id="rt8" class="rating" value="8" />
      <input type="radio" name="example" id="rt9" class="rating" value="9" />
      <input type="radio" name="example" id="rt10" class="rating" value="10" />
    </div>
    <div class="rate-movie-description">
      <textarea id=""></textarea>
    </div>
    <div class="rating-dropdown-btns">
      <input class="rating-save btn" type="button" value="Save">
      <input class="rating-cancel btn" type="button" value="Cancel">
    </div>
  </div>
  <p><%= @movie.description %></p>
  
  <%= image_tag(@movie.cover_img.url(:show_page)) %>
  <%= raw(youtube_embed(@movie.yt_trailer_url)) %>
  <p>
    Runtime: <%= @movie.runtime %>
  <p>

  <p>
    Genres: <%= @movie.genres %>
  </p>

  <p>
    Director: <%= @movie.director %>
  </p>

  <p>
    Actors: <%= @movie.actors %>
  </p>
</div>
