<div class="content">
  <div class="user-show-content">
    <div class="user-show-sidebar">
      <%= image_tag @user.avatar.url(:big), class: "user-profile-img-big" %>
      <%= link_to "Send friend request", "#", class: "send-friend-request" %>
      <h3>Friends</h3>
      <hr>
    </div>
    <div class="user-show-text">
      <div class="user-header">
        <h2 class="user-show-name"><%= @name %></h2>
        <h3 class="user-show-username">(<%= @name %>) <span style="color: <%= @privilege_color %>"><%= @privilege %></span></h3>
      </div>
      <nav class="user-show-nav">
        <ul>
          <a href="" class="active">
            <li>Profile</li>
          </a>
          <a href="">
            <li>Movies</li>
          </a>
          <a href="">
            <li>Articles</li>
          </a>
          <a href="">
            <li>Favorite people</li>
          </a>
          <a href="">
            <li>Forums</li>
          </a>
          <a href="">
            <li>Comments</li>
          </a>
        </ul>
      </nav>
      <p><%= @user.bio %></p>
      <p>Email address: <%= @user.email %></p>
      <p>First name: <%= @user.first_name %></p>
      <p>Last name: <%= @user.last_name %></p>
      <p>Created at: <%= @user.created_at.to_s(:long_ordinal) %></p>
      <h2>Highest rated</h2>
      <hr>

      <h2>Recently rated</h2>
      <hr>
        <% @ratings.each do |rating| %>
          <%= image_tag find_cover_img(rating.movie_id) %>
          <%= rating.rating %>
          <%= rating.thoughts %>
        <% end %>

      <h2>Recent articles</h2>
      <hr>

      <h2>Recent comments</h2>
        <% @comments.each do |comment| %>
          <%= comment.content %>
        <% end %>
      <hr>

      <h2>Recent blog posts</h2>
      <hr>

    </div>
    <%= link_to "Edit", edit_user_registration_path %>
  </div>
</div>
