<div class="content">
  <div class="user-show-content">
    <div class="user-show-sidebar">
      <%= image_tag @user.avatar.url(:big), class: "user-profile-img-big" %>
      <%= link_to "Send friend request", "#", class: "send-friend-request" %>
      <h3>Friends</h3>
      <hr>
    </div>
    <div class="user-show-text">
      <div class="user-header">
        <h2 class="user-show-name"><%= @name %></h2>
        <h3 class="user-show-username">(<%= @name %>) <span style="color: <%= @privilege_color %>"><%= @privilege %></span></h3>
      </div>
      <nav class="user-show-nav">
        <ul>
          <a href="" class="active">
            <li>Profile</li>
          </a>
          <a href="">
            <li>Movies</li>
          </a>
          <a href="">
            <li>Articles</li>
          </a>
          <a href="">
            <li>Favorite people</li>
          </a>
          <a href="">
            <li>Forums</li>
          </a>
          <a href="">
            <li>Comments</li>
          </a>
        </ul>
      </nav>
      <p><%= @user.bio %></p>
      <p>Email address: <%= @user.email %></p>
      <p>First name: <%= @user.first_name %></p>
      <p>Last name: <%= @user.last_name %></p>
      <p>Created at: <%= @user.created_at.to_s(:long_ordinal) %></p>
      <h2>Highest ratings</h2>
      <hr>
        <div class="us-movs-cont">
          <% @highest_rated.each do |rated| %>
            <div class="us-mov-cont">
              <div class="row">
                <%= link_to(image_tag(rated.mov_cover_url, class: "us-movie-cover"), rated.mov_url) %>
                <div class="us-mov-info">
                  <span class="us-mov-title"><%= link_to rated.mov_title, rated.mov_url %></span> <br>
                  <span class="us-mov-year"><%= rated.mov_year %></span> <br>
                  <span class="us-mov-rating"><%= rated.rating %></span> <br>
                  <span class="us-mov-ago"><%= time_ago_in_words(rated.rating_date) %> ago</span>
                </div>
              </div>
              <span class="us-mov-thoughts"><%= rated.thoughts %></span>
            </div>
          <% end %>
        </div>

      <h2>Recently rated</h2>
      <hr>
        <div class="us-movs-cont">
          <% @recently_rated.each do |rated| %>
            <div class="us-mov-cont">
              <div class="row">
                <%= link_to(image_tag(rated.mov_cover_url, class: "us-movie-cover"), rated.mov_url) %>
                <div class="us-mov-info">
                  <span class="us-mov-title"><%= link_to rated.mov_title, rated.mov_url %></span> <br>
                  <span class="us-mov-year"><%= rated.mov_year %></span> <br>
                  <span class="us-mov-rating"><%= rated.rating %></span> <br>
                  <span class="us-mov-ago"><%= time_ago_in_words(rated.rating_date) %> ago</span>
                </div>
              </div>
              <span class="us-mov-thoughts"><%= rated.thoughts %></span>
            </div>
          <% end %>
        </div>

      <h2>Recent articles</h2>
      <hr>
      <div class="us-arts-cont">
        <% @articles.each do |art| %>
          <div class="us-art-cont">
            <%= link_to(image_tag(art.thumbnail_url, class: "us-art-thumbnail"), art.url) %>
            <span class="us-art-title"><%= link_to art.title, art.url %></a>
          </div>
        <% end %>
      </div>

      <h2>Recent comments</h2>
      <hr>
        <div class="us-cmts-cont">
          <% @comments.each do |comment| %>
            <div class="us-cmt-cont">
              <span class="us-cmt-content"><%= comment.content %></span> <span class="us-cmt-ago"><%= time_ago_in_words(comment.updated_at) %> ago</span>
            </div>
          <% end %>
        </div>

      <h2>Recent blog posts</h2>
      <hr>

    </div>
    <%= link_to "Edit", edit_user_registration_path %>
  </div>
</div>
