<div class="content">
  <h1>Slideshow Panel</h1>
  <% @allpics.each do |pic| %>
    <%= image_tag pic.picture.url(:default) %>
  <% end %>
  <%= simple_form_for @newpic do |f| %>
    <%= f.input :picture %>
    <%= f.input :destination_type, collection: SlideshowPic.destination_types.keys %>
    <%= f.input :destination_id, label: "Destination ID (Article ID/User ID)" %> <span>Destination ID depends on destination type</span>
    <%= f.input :destination_url %>
    <%= f.button :submit %>
  <% end %>
</div>
