<!DOCTYPE html>
<html>
<head>
  <title>CinePic</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'jquery.modal', media: 'all' %>
  <%= javascript_include_tag 'jquery.modal' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="nav-top">
    <div class="nav-left-cont">
      <%= image_tag("logo_white.svg", alt: "CinePic Logo", class: :logo) %>
    </div>

    <div class="nav-mid-cont">
      <div class="search-bar">
        <%= image_tag("search_icon.png", alt: "Search Icon", class: "search-icon") %>
      </div>
      <div class="main-pages-nav">
        <ul>
          <%= nav_link "Front Page", front_page_path %>
          <%= nav_link "Discover", discover_path %>
          <%= nav_link "Learn", learn_path %>
          <%= nav_link "Discuss", discuss_path %>
        </ul>
      </div>
    </div>

    <div class="nav-right-cont">
      <% if !user_signed_in? %>
        <%= link_to "Log In", "#login-modal", rel: "modal:open" %>
        <%= link_to "Sign Up", "#signup-modal", rel: "modal:open" %>
      <% else %>
        <%= link_to @name, users_path(current_user) %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <% end %>
    </div>
  </nav>
  <div id="login-modal" class="modal" style="display: none; ">
    <%= render template: "devise/sessions/new" %>
    <div class="social-cont">
      <button class="login-facebook">
        Log In with Facebook
      </button>
      <button class="login-google">
        Log In with Google+
      </button>
    </div>

  </div>

  <div id="signup-modal" class="modal" style="display: none; ">
    <%= render template: "devise/registrations/new" %>
  </div>


<%= yield %>
<% if @privilege == "admin" %>
  <%= link_to "Admin Control Panel", cpanel_path, :style => "color: white" %>
<% end %>

</body>
</html>
